body {
    background-color: #FFFAF2;
    font-family: 'Fira Mono', monospace;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

  .description {
    text-align: center;
  }
    
  .container {
    margin: 0 auto;
    padding-top: 50px; }
  
  .important {
    font-weight: bold;
    color: #e23434; }
  
  .todo_list {
    max-width: 600px;
    display: block;
    margin: 0 auto 40px;
    background-color: #F5D6AB;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 0 #C66C49;
    box-shadow: 0 2px 10px 0 #C66C49; }
  
  
  h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    font-size: 30px; }

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
    font-size: 26px;
  }  
  
#scrollBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #8B4136; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#scrollBtn:hover {
    background-color: #555;
}

  .create_new_todo {
    text-align: center; }
  
  @media (width: 320px) {
  }  

  input[type=text] {
    width: auto;
    padding: 10px; }
  
  button {
    margin-top: 10px;
    /* width: 400px; */
    padding: 10px;
    cursor: pointer; }
  
  .todo {
    padding-left: 0; }
    .todo li {
      padding: 1em;
      list-style-type: none; }
      .todo li:not(:last-child) {
        border-bottom: 1px solid #000; }
  
  input[type=checkbox] {
    opacity: 0;
    position: absolute; }
  
  input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; }
  
  input[type=checkbox] + label:before {
    content: '';
    background: #F5D6AB;
    border-radius: 5px;
    border: 2px solid #C66C49;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; }
  
  input[type=checkbox]:checked + label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    border: solid #8B4136;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px; }
    
